

.product-grid {
  display: grid;
  padding: 30px 45px;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; 
}

.product-card{
  text-decoration: none;
  margin-bottom: 5px;
  color: black;
}


.select{
float:right;
margin-bottom:20px;
}