

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #F8F6F2;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0; 
  z-index: 100;
  width: 100%;
  position:relative;
  }

.logo{
  z-index: 2;
}
/*
 .logo-hidden {
  visibility: hidden;
  flex-shrink: 0;
}*/

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-right:auto;
}

.logo img {
   width:115px;
   height:45px;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size:26px;
  gap: 30px;
  font-family:"Caveat", cursive; 
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}


.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-links a:hover {
  color: #2f089a;
}



@media (max-width: 1024px){ 
 
  .navbar {
  padding: 7px 25px;
}
  .nav-links{
  font-size: 22px;
  gap:25px
}

 .logo img{
  width:95px;
  height:38px;
 }
}

@media (max-width: 768px){
.nav-links{
  font-size: 20px;
}

.navbar{
  padding: 6px 20px;
}

.logo img {
  width: 85px;
  height:33px;  
}



@media (max-width: 486px) {

  .navbar {
    padding: 6px 20px;
  }

  .nav-links {
    font-size: 18px;
   }

  .logo img {
    width: 65px;
    height: 27px;
  }
}


@media (max-width:458px) {
  .nav-links{
    font-size: 16px;
  }

  .logo img {
    width: 60px;
    height: 25px;
  }

  .trust-item p {
    font-size:12px;
  }
}

@media (max-width:424px) {
  .nav-links{
    font-size: 14px;
  }

  .logo img {
    width: 55px;
    height: 22px;
  }

  
@media (max-width:400px) {
  .nav-links{
    font-size: 10px;
    gap: 15px;
  }

  .logo img {
    width: 55px;
    height: 22px;
  }
}


 /*
.nav-right {
  display: flex;
  align-items: center;
  gap: 21px;
  text-decoration: none;
}

.search-container {
  position: relative;
  display:flex;
  align-items:center;
}

.search-bar {
  padding: 8px 12px 8px 35px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.search-icon {
  position:absolute;
  left:10px;
  color:grey;
  font-size:14px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  border:none;
  text-decoration:none; 
  color:#333;
  background:none;
  padding: 0;
}
.icon{
  position: relative;
}

.icon:hover{
  transform:scale(1.19);
  transition:0.3s;
}

.user-section {
  position: relative;

}

.dropdown {
position: absolute;
top: 40px;
right:-45px;
background: white;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
border-radius: 10px;
padding:12px 16px;
width: 100px;
z-index:1000;
}

.dropdown p{
 margin: 15px 0;
 cursor: pointer;
 font-size: 20px;
 text-align: center;
}

.dropdown p:hover{
  color:crimson;
}

.cart-icon{
  position:relative;
}

.cart-badge {
  position:absolute;
  top: -20px;
  right: -20px;
  background: red;
  color: white;
  font-size: 10px;
  padding:3px 7px;
  border-radius:50%;
  font-weight:bold;
} 
*/

