.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #F8F6F2;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  position: relative;
}

.logo {
  z-index: 2;
}

/*
 .logo-hidden {
  visibility: hidden;
  flex-shrink: 0;
}*/

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-right: auto;
}

.logo img {
  width: 115px;
  height: 45px;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 26px;
  gap: 30px;
  font-family: "Caveat", cursive;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-links a:hover {
  color: #2f089a;
}



@media (max-width: 1024px) {

  .navbar {
    padding: 7px 25px;
  }

  .nav-links {
    font-size: 22px;
    gap: 25px
  }

  .logo img {
    width: 95px;
    height: 38px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    font-size: 20px;
  }

  .navbar {
    padding: 6px 20px;
  }

  .logo img {
    width: 85px;
    height: 33px;
  }
}

@media (max-width: 550px) {
.navbar {
  padding: 4px 20px;
}
.nav-links {
  font-size:18px;
}
.logo img {
  width: 70px;
  height: 30px;
}
}

@media (max-width: 486px) {

  .navbar {
    padding: 6px 20px;
  }

  .nav-links {
    font-size: 16px;
  }

  .logo img {
    width: 65px;
    height: 27px;
  }
}

@media (max-width:458px) {
  .nav-links {
    font-size: 12px;
  }

  .logo img {
    width: 50px;
    height: 20px;
  }

  .trust-item p {
    font-size: 12px;
  }
}


@media (max-width:400px) {
  .nav-links {
    font-size: 10px;
    gap: 15px;
  }
 
}

.logout-btn{
    padding: 8px 16px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 15px;
    transition: 0.3s;
}

.logout-btn:hover{
    opacity: 0.8;
}
 