.category-section {
  padding: 30px 40px 60px;
  background-color: #F8F6F2;

}

.category-section h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.category-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin: 20px 0 40px;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.category-card {
  position: relative;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}


.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 40px rgba(0,0,0,0.1);
}

.category-card img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

.category-card:hover img {
  transform: scale(1.1);
}

.category-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
}

.category-overlay h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 1024px) {

  .category-title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .category-title {
    font-size: 26px;
  }
}  
